@import "constants"

contentMaxWidth = 720px
contentMaxHeight = 540px
loaderSize = 24px

.gallery-window
	padding: 0px 64px

	& button
		outline: none
		border: none

	.gallery-content
		width: contentMaxWidth
		height: contentMaxHeight
		background-color: transparent

	.content-container
		position: relative
		left: 50%
		transform: translate(-50%)
		display: inline-block
		
		& .content-img
			max-width: contentMaxWidth
			max-height: contentMaxHeight
			width: auto

	.window-closer-btn
		position: absolute
		top: 16px
		right: 16px
		width: 36px
		height: 36px
		padding: 0
		border-radius: 100%
		background-color: white
		opacity: 0.3
		cursor: pointer

		&:hover
			transform: scale(1.1)
			opacity: 0.7

		& img
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 24px
			height: 24px

	.window-prev-btn
	.window-next-btn
		position: absolute
		top: 50%
		transform: translateY(-50%) scale(1.0)
		width: 36px
		height: 36px
		padding: 0
		border-radius: 100%
		background-color: white
		opacity: 0.3
		cursor: pointer

		&:hover
			transform-origin: center center
			transform: translateY(-50%) scale(1.1)
			opacity: 0.7

		& img
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 100%
			height: 100%

	.window-prev-btn
		left: 0px
		margin-left: 5px

	.window-next-btn
		right: 0px
		margin-right: 5px

	.window-details-btn
		position: absolute
		bottom: 6px
		left: 50%
		transform: translateX(-50%)
		height: 30px
		padding: 0 20px
		border-radius: 30px
		background-color: white
		opacity: 0.3
		cursor: pointer
		transition: 0.1s linear opacity

		&:hover
			opacity: 0.7
