@import "constants"

#view-gallery
	& .column
		display: inline-block
		width: 33%
		vertical-align: top

	& .tile
		width: 100%
		transition: 0.1s linear opacity
		opacity: 1.0

		& img
			width: 100%
			vertical-align: middle;

		&:hover
			cursor: pointer
			opacity: 0.9