@import "constants"

.gallery-window
	& img
		max-width: 800px
		max-height: 600px
		width: auto
		height: auto

.window-closer-container
	position: fixed !important
	top: 16px
	right: 16px
	width: 36px
	height: 36px
	border-radius: 100%
	background-color: white
	opacity: 0.3
	cursor: pointer

	&:hover
		opacity: 0.7

.window-closer
	position: relative
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	width: 24px
	height: 24px