@import "constants"

loaderSize = 24px

.gallery-window
	background-color: #fff

.window-img-container
	& img
		max-width: 960px
		max-height: 600px
		width: auto
		height: auto
		visibility: hidden
		opacity: 0.0
		transition: 0.15s linear opacity, 0.15s linear visibility

		&.loaded
			visibility: visible
			opacity: 1.0

	& .loader-container
		position: absolute
		top: "calc(50% - %s)" % (loaderSize / 2)
		left: "calc(50% - %s)" % (loaderSize / 2)
		transform: translate(-50%, -50%)
		display: block;
		width: loaderSize;
		height: loaderSize;
		border: 6px solid #333;
		border-radius: 100%;
		animation: pulse 1s ease-in infinite;

		&.hide
			display: none

.window-closer-container
	position: fixed !important
	top: 16px
	right: 16px
	width: 36px
	height: 36px
	border-radius: 100%
	background-color: white
	opacity: 0.3
	cursor: pointer

	&:hover
		opacity: 0.7

.window-closer
	position: relative
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	width: 24px
	height: 24px