<div class="exhibit-filter-wrapper">

  <!-- Filtering Section -->
  <div class="exhibit-filter-box" ng-class="{on: showFilterMenu}">

    <div class="exhibit-filter-display">
      <div class="exhibit-filter-placeholder" ng-if="selectedFilters.length==0">
        Click here to filter ingredients or flavors...
      </div>
      <span class="exhibit-filter-clear" ng-click="clearFilter()" ng-show="selectedFilters.length>0">Clear</span>
      <div class="exhibit-filter-tag" ng-repeat="filter in selectedFilters">
        <span class="exhibit-filter-display-name"> {{filter.name}} </span>
      </div>
    </div>

    <div class="exhibit-filter-menu" ng-class="{on: showFilterMenu}">
      <div class="exhibit-filter-option" ng-repeat="filter in filterList">
        <div class="exhibit-filter-option-wrapper" ng-click="toggleSelection(filter)">
          <input
            type="checkbox"
            name="{{filter.name}}"
            value="{{filter.value}}"
            class="exhibit-filter-option-input"
            ng-checked="selectedFilters.indexOf(filter) > -1"
          >
          <div class="exhibit-filter-tag" ng-class="{inactive: !isSelectedTag(filter)}">{{filter.name}}</div>
        </div>
      </div>
      <div class="exhibit-filter-closer" ng-click="toggleFilterMenuOff()">
        <div class="close-img"></div>
      </div>
    </div>

  </div>

  <!-- Exhibit Content-->
  <div class="exhibit-content" ng-show="cardsToShow.length > 0">
    <div class="exhibit-content-row" ng-repeat="rowIndex in rowIndices">
      <div class="exhibit-small-tile" ng-repeat="card in cardsToShow[rowIndex]" ng-click="showFullCardModal(card)">

        <div class="exhibit-tile-title">{{card.title}}</div>

        <div class="exhibit-tile-image-wrapper">
          <img class="exhibit-tile-image" src="{{card.imgSrc}}">
        </div>

        <div class="exhibit-tile-description">{{card.description}}</div>
        <div class="exhibit-tile-tags">
          <div class="exhibit-filter-tag" ng-repeat="tagName in card.tags">
          {{tagName}}
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<!-- Exhibit Large Cards -->
<div class="exhibit-large-modal" ng-show="modalCard.title">
  <div class="translucent-background"></div>
  <div class="exhibit-large-card-close" ng-click="closeCardModal()">
    <div class="close-img"></div>
  </div>
  <div class="exhibit-large-card">
    <div class="exhibit-tile-title">{{modalCard.title}}</div>

    <div class="exhibit-tile-image-wrapper">
      <img class="exhibit-tile-image" src="{{modalCard.imgSrc}}" ng-if="modalCard.imgSrc">
    </div>

    <div class="exhibit-tile-description">{{modalCard.description}}</div>
    <div class="exhibit-tile-tags">
      <div class="exhibit-filter-tag" ng-repeat="tagName in modalCard.tags">
      {{tagName}}
      </div>
    </div>
  </div>

</div>
