<div class="exhibit2-filter-wrapper">

  <!-- Filtering Section -->
  <div class="exhibit2-filter-box" ng-class="{on: showFilterMenu}">

    <div class="exhibit2-filter-display">
      <div class="exhibit2-filter-placeholder" ng-if="selectedFilters.length==0">
        Click here to filter by ingredients or flavors...
      </div>
      <!-- <span class="exhibit2-filter-clear" ng-click="clearFilter()" ng-show="selectedFilters.length>0">Clear</span> -->
      <div class="exhibit2-filter-arrow" ng-class="{on: showFilterMenu}">
        <div class="arrow-img"></div>
      </div>
      <div class="exhibit2-filter-tag" ng-repeat="filter in selectedFilters" ng-click="toggleSelection(filter)">
        <span class="exhibit2-filter-display-name"> {{filter.name}} </span>
        <span class="exhibit2-filter-display-x">x</span>
      </div>
    </div>

    <div class="exhibit2-filter-menu" ng-class="{on: showFilterMenu}">
      <div class="exhibit2-filter-option" ng-repeat="filter in filterList">
        <div class="exhibit2-filter-option-wrapper" ng-click="toggleSelection(filter)">
          <div class="exhibit2-filter-tag" ng-class="{inactive: !isSelectedTag(filter)}">{{filter.name}}</div>
        </div>
      </div>
    </div>

  </div>

  <!-- Exhibit Content-->
  <div class="exhibit2-content" ng-show="cardsToShow.length > 0">
    <div class="exhibit2-content-column" ng-repeat="columnIndex in colIndices">
      <div class="exhibit2-small-tile-wrapper" ng-repeat="card in cardsToShow[columnIndex]" ng-click="showFullCardModal(card)">

        <div class="exhibit2-small-tile">
          <img ng-src="{{card.imgSrc}}">
        </div>

      </div>
    </div>
  </div>

  <div class="exhibit2-no-content" ng-show="cardsToShow[0].length === 0">
    <p>There are no sushi that have all of these ingredients.</p>
    <p>Try unselecting a few to see more!</p>
  </div>

</div>

<!-- Exhibit Large Cards -->
<div class="translucent-background" ng-class="{show: modalCard.title}"></div>
<div class="exhibit2-popup" ng-class="{show: modalCard.title}">
  <div class="close-img" ng-click="closeCardModal()"></div>
  <div class="exhibit2-header">{{modalCard.title}}</div>
  <div class="exhibit2-body">
    <div class="exhibit2-image-wrapper">
      <img class="exhibit2-image" ng-src="{{modalCard.imgSrc}}">
    </div>
    <div class="exhibit2-scrollable-pane">
      <div class="exhibit2-image-header">
        <img class="exhibit2-image" ng-src="{{modalCard.imgSrc}}">
      </div>
      <div class="exhibit2-popup-description">{{modalCard.description}}</div>

      <div class="exhibit2-subtitle-section" ng-if="modalCard.ingredients.length > 0">
        <div class="exhibit2-popup-subtitle" >Ingredients</div>
        <ul class="exhibit2-popup-ingredients-list">
          <li ng-repeat="ingredients in modalCard.ingredients">
            <div class="exhibit2-popup-fish-bullet"></div>
            {{ingredients}}
          </li>
        </ul>
      </div>

      <div class="exhibit2-recommendations-section" ng-if="modalCard.recommended.length > 0">
        <div class="exhibit2-popup-subtitle">Similar Sushi</div>
        <ul class="exhibit2-popup-recommended-list">
          <li ng-repeat="reco in modalCard.recommended">
            <button ng-click="changeCardModal(reco.id)">
              <img ng-src="{{reco.imgSrc}}">
            </button>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>

