@import "../_constants.sass"

#contact
    h3
        color: $colorTextGray

    .contact-container
        width: 560px
        margin: 120px auto 240px
    
    .contact-me
        padding: 32px 0 64px
        border-top: 1px solid $colorBlack

        h3
            margin-bottom: 16px

        .contact-line
            display: flex
            flex-direction: row
            justify-content: flex-start
            align-items: center
            height: 48px

            img
                margin-right: 24px
                vertical-align: middle
            
            a
                color: $colorTextBlack
                
    #contact-form
        padding: 64px 0