@import "_constants.sass"

body 
  margin: 0
  padding: 0
  background-color: $colorOffWhite
  font-family: $fontFamilyOpenSans
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

p
  font-family: $fontFamilyOpenSans
  font-size: $fontSizeM

a
  color: $colorWhite

h1
h2
h3
h4
h5
h6
  margin: 0
  font-family: $fontFamilySourceSans
