  <div ng-controller="KifiCtrl">
    <div ng-if="showKifi">
      <div class="kifi-spinner" ng-if="showSpinner">
        <div class="kifi-logo"></div>

        <div class="kifi-tooltip1-wrapper">
          <p>Check out what inspires Aaron's sushi making. Follow <a href="https://www.kifi.com/a.aron">Aaron's Sushi Libraries</a> on <a href="https://www.kifi.com/how_it_works">Kifi</a> to learn how to make sushi at home or be inspired by his favorite local picks!</p>


          <a href="https://www.kifi.com/a.aron/how-to-sushi" class="kifi-lib-card-link">
            <div class="kifi-lib-card">
              <div class="kifi-lib-card-header">
                <div class="kifi-lib-card-title">How to Sushi</div>
                <div class="kifi-lib-card-author">
                  <a href="https://www.kifi.com/a.aron">
                      <img src="https://djty7jcqog9qu.cloudfront.net/users/228cdb45-e492-47f9-a0aa-1149ae963ce3/pics/100/gvGYo.jpg">
                    <span class="kifi-lib-card-by">by</span>
                    <span class="kifi-lib-card-name">Aaron Hsu</span>
                  </a>
                </div>
              </div>
              <div class="kifi-lib-cover">
                <img class="kifi-lib-cover-img" src="https://djty7jcqog9qu.cloudfront.net/library/13130d1cc22ec64eff08e92c824025fd_400x267.jpg" style="background-position:50% 51%">
              </div>
              <div class="kifi-lib-stats">34 Keeps &middot; 659 Followers</div>
            </div>
          </a>

        </div>

      </div>

      <div class="kifi-footer" ng-show="!showSpinner && onLoadDelayFinished">
        <p class="kifi-pitch">Want to see more sushi related content by Aaron?</p>
        <p>
          Check out what inspires Aaron's sushi making. Follow <a href="https://www.kifi.com/a.aron">Aaron's Sushi Libraries</a> on <a href="https://www.kifi.com/how_it_works">Kifi</a> to learn something new and be inspired!</p>
        </p>

  <!--       <a href="https://www.kifi.com"><div class="kifi-logo"></div></a> -->

        <a href="https://www.kifi.com/a.aron/how-to-sushi" class="kifi-lib-card-link">
          <div class="kifi-lib-card">
            <div class="kifi-lib-card-header">
              <div class="kifi-lib-card-title">How to Sushi</div>
              <div class="kifi-lib-card-author">
                <a href="https://www.kifi.com/a.aron">
                    <img src="https://djty7jcqog9qu.cloudfront.net/users/228cdb45-e492-47f9-a0aa-1149ae963ce3/pics/100/gvGYo.jpg">
                  <span class="kifi-lib-card-by">by</span>
                  <span class="kifi-lib-card-name">Aaron Hsu</span>
                </a>
              </div>
            </div>
            <div class="kifi-lib-cover">
              <img class="kifi-lib-cover-img" src="https://djty7jcqog9qu.cloudfront.net/library/13130d1cc22ec64eff08e92c824025fd_400x267.jpg" style="background-position:50% 51%">
            </div>
            <div class="kifi-lib-stats">34 Keeps &middot; 659 Followers</div>
          </div>
        </a>


      </div>

    </div>
  </div>
</div>
