colorPrimary = colorOrange
colorAccent = colorLightBlue
colorBackground = colorGrayWarmLight

colorOrange = #f77e25
colorLightBlue = #51b1f8

colorWhite = #ffffff
colorWhiteLight = #f4f4f4
colorBlackDark = #262626

colorGrayWarmLight = #f2f2f2
colorGrayTinted = #e8e8e8
colorGrayMedium = #8e8e8e

containerWidthPx = 900px
containerWidthPct = 80%

mediaScreenMaxWidth1 = 600px
mediaScreenMaxWidth2 = 800px