@import "constants"
	
#gallery-footer
	margin-top: 48px
	margin-bottom: 48px
	
	& .gallery-logos
		width: 60px
		margin: 0 auto
	
	& .gallery-logo
		display: inline-block
		
		&.ig
			float: left
			width: 24px
			height: 24px
			background: url('/assets/logo_instagram.svg')
			background-size: cover
		&.li
			position: relative
			top: 2px
			float: right
			width: 20px
			height: 20px
			background: url('/assets/logo_linkedin.svg')
			background-size: cover
			
#gallery-wide-view #gallery-footer
	margin-top: 80px