@import "constants"

mainImageHeight = 480px

#gallery-wide-view
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: mainImageHeight
	background-color: colorGrayTinted
	opacity: 0
	visibility: hidden
	transition: opacity 0.1s linear, visibility 0.1s linear

	&.show
		opacity: 1
		visibility: visible
		
	& .wide-details-container
		position: absolute
		bottom: 0
		left: 50%
		transform: translateX(-50%)

#gallery-wide-content
	position: relative
	width: containerWidthPct
	max-width: containerWidthPx
	height: 100%
	margin: 0 auto

	& .wide-content-wrapper
		position: relative
	& .wide-content-img
		position: relative
		left: 50%
		transform: translate(-50%)
		max-width: containerWidthPx;
		max-height: mainImageHeight
		width: auto
		height: 100%

#gallery-wide-footer
	display: inline-block
	position: relative
	top: 12px
	left: 50%
	transform: translateX(-50%)

	.wide-prev-btn
	.wide-next-btn
		display: inline-block
		width: 24px
		height: 24px
		padding: 0
		vertical-align: middle
		border: none
		background: none
		outline: none
		opacity: 0.8
		cursor: pointer

		&:hover
			transform: scale(1.1)

	.wide-prev-btn
		margin-right: 12px
	.wide-next-btn
		margin-left: 12px

#gallery-wide-dots
	display: inline-block

	@media screen and (max-width: mediaScreenMaxWidth2)
		display: none

	& .wide-dot
		display: inline-block
		width: 4px
		height: 4px
		margin: 0 2px
		border-radius: 100%
		background-color: colorGrayMedium

		&.selected
			transform: scale(1.5)
			background-color: colorPrimary
