@import "constants"

#header
	width: 100%
	height: 80px
	background-color: colorBlackDark

	&.transparent
		background: none

#header-container
	position: relative
	top: 50%
	transform: translateY(-50%)
	width: containerWidthPct
	max-width: containerWidthPx
	margin: 0px auto
	height: 50px

	& img
		height: 50px

#header-logo
	float: left
	height: 100%

.header-home-link
	font-family: "Oswald"
	color: colorWhiteLight
	font-size: 22px
	text-decoration: none
	letter-spacing: 1px
	
	& img
		vertical-align: middle	
	
#header-links
	float: right
	height: 100%

	& .header-link-container
		float: right
		margin-top: 12px
		margin-left: 16px
		font-size: 20px
		letter-spacing: 0.2px
		
		@media screen and (max-width: mediaScreenMaxWidth1)
			margin-top: 16px
			margin-left: 12px
			font-size: 14px

		&:hover .header-link-underline
			visibility: visible
			opacity: 1.0

	& .header-link-underline
		margin-top: 4px
		border-bottom: 2px solid colorPrimary
		visibility: invisible
		opacity: 0.0
		transition: 0.1s visibility linear, 0.1s opacity linear

	& a
		color: colorWhite
		text-decoration: none