@import "constants"

contentMaxWidth = 720px
contentMaxHeight = 540px
loaderSize = 24px

.gallery-window
	opacity: 0.0
	visibility: hidden
	transition: all linear 0.25s

	&.show
		opacity: 1.0
		visibility: visible

	.window-container
		width: contentMaxWidth
		height: contentMaxHeight
		margin: 0 auto

	.content-container
		position: relative

	.content-img-container
		display: inline-block
		position: relative
		left: 50%
		transform: translateX(-50%)
		overflow: hidden

	.content-img
		max-width: contentMaxWidth
		max-height: contentMaxHeight
		height: auto
		width: auto

	& button
		outline: none
		background: none
		border: none
		cursor: pointer

	.window-close-btn img
		position: absolute
		top: 0
		right: padding1x
		width: 26px
		height: 26px

	.window-next-btn img
		position: absolute
		top: 50%
		right: padding2x
		transform: translate(0, -50%)
		width: 14px

	.window-prev-btn img
		position: absolute
		top: 50%
		left: padding2x
		transform: translate(0, -50%)
		width: 14px


.window-details-container
		display: none
		position: absolute
		bottom: padding1x
		left: 50%
		transform: translateX(-50%)

.window-container:hover .window-details-container
	display: block

.content-banner
	position: absolute
	left: 0
	width: 100%
	box-sizing: border-box
	font-family: fontFamilyCormorant
	letter-spacing: 1.5px
	color: colorWhite
	opacity: 0
	visibility: hidden
	transition: opacity 0.15s linear, visibility 0.15s linear

	&.header
		top: 0
		padding: padding1x padding2x padding4x
		background: linear-gradient(to bottom, rgba(33, 33, 33, 0.7) 70%, rgba(33, 33, 33, 0))
		font-size: 18px
		letter-spacing: 2px

	&.footer
		bottom: 0
		line-height: 20px
		padding: padding4x padding2x padding2x
		background: linear-gradient(to top, rgba(33, 33, 33, 0.7) 70%, rgba(33, 33, 33, 0))
		font-size: 14px

.window-container:hover .content-banner
	opacity: 1
	visibility: visible
