@import "constants"
@import "header"

#view-header
  .menu-link-container
    display: inline-block
    height: 24px
    margin: 0 padding1x
    font-family: 'optima'
    text-align: center
    text-decoration: none
    letter-spacing: 1px
    color: colorBlackDark
    cursor: pointer
    transition: all 0.15s linear

    &:active
    &:hover
      color: colorDeepRed

    &.active
      color: colorPrimary

    &:last-child
      border: 1px solid blue

  .menu-link-separator
    display: inline-block
    height: 24px
    width: 1px
    margin: 0 padding1x
    vertical-align: middle
    background-color: colorBlackDark

    &.hide
      display: none
