@import "constants"

colorGrayFade = #efefef

#view-header
  position: relative
  top: 0
  left: 0
  width: 100%
  height: headerHeightPx
  border-top: 2px solid colorPrimary
  border-bottom: none
  box-shadow: none

  &.with-bottom
    border-bottom: 1px solid colorGrayFade
    box-shadow: 0px 4px 4px colorGrayFade


#view-header-container
  width: containerWidthPct
  max-width: containerWidthPx
  height: 100%
  margin: 0 auto

#header-logo-container
  float: left
  position: relative
  top: 50%
  transform: translateY(-50%)
  text-decoration: none

  .header-logo-pic
    display: inline-block
    width: 36px
    height: 36px
    margin-right: padding2x
    vertical-align: middle
    background: url('./assets/logo_triple_sushi.svg')
    background-size: cover

  .header-logo-text
    font-family: 'optima'
    font-size: 24px
    color: colorBlackDark

    @media screen and (max-width: mediaScreenMaxWidth1)
      font-size: 20px

#header-nav-container
  float: right
  position: relative
  top: 50%
  transform: translateY(-50%)
