@import "../_constants.sass"

#gallery
    background-color: $colorDarkPurple

    .section
        margin: 72px 0

        &.text
            width: 480px
            margin-left: auto
            margin-right: auto
            text-align: center
            color: $colorWhite
        