// Colors

colorPrimary = colorOrange
colorAccent = colorDeepRed
colorBackground = colorWhiteLight

colorOrange = #f77e25
colorDeepRed = #7B060F
colorLightBlue = #51b1f8

colorWhite = #ffffff
colorWhiteLight = #fafafa
colorBlackDark = #262626
colorGrayDark = #6a6a6a

colorWhiteValue = 255
colorBlackValue = 33

// Proportions

innerWidth1x = 120px
innerWidth2x = (innerWidth1x * 2)
innerWidth3x = (innerWidth1x * 3)
innerWidth4x = (innerWidth1x * 4)
innerWidth5x = (innerWidth1x * 5)
innerWidth6x = (innerWidth1x * 6)
innerWidth8x = (innerWidth1x * 8)

containerWidthPx = innerWidth8x
containerWidthPct = 80%

mediaScreenMaxWidth1 = innerWidth5x
mediaScreenMaxWidth2 = innerWidth6x

innerMaxWidthPct = 80%
innerMaxWidthPx = innerWidth4x

headerHeightPx = 80px

// Paddings

padding1x = 8px
padding2x = (padding1x * 2)
padding3x = (padding1x * 3)
padding4x = (padding1x * 4)
padding6x = (padding1x * 6)
padding8x = (padding1x * 8)
padding12x = (padding1x * 12)
padding16x = (padding1x * 16)
padding32x = (padding1x * 32)

// Fonts - Font Families
@font-face
  font-family: 'optima'
  src: url('./assets/fonts/Optima.eot')
  src: url('./assets/fonts/Optima.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Optima.woff') format('woff'),
    url('./assets/fonts/Optima.ttf') format('truetype')
  font-weight: normal
  font-style: normal

fontFamilyOptima = "optima"
fontFamilyCormorant = "Cormorant Garamond"

// Fonts - For reading texts
fontSizeSmall = 16px
fontSizeNormal = 20px
fontSizeLarge = 24px

// Misc.

defaultBorderRadius = 2x
