@import "constants"

#view-footer
  margin: padding16x 0
  text-align: center
  font-family: fontFamilyCormorant
  color: colorBlackDark

#footer-text-container
  width: 360px
  margin: 0 auto
  padding-top: padding4x
  border-top: 1px solid colorBlackDark

  .footer-line
    line-height: 24px
    font-size: 16px
    letter-spacing: 0.4px

  .bold
    font-size: 20px
    font-weight: bold
    letter-spacing: 0.6px

#footer-social-container
  margin: 0 auto

  .footer-icon
    position: relative
    margin: 0 padding1x
    padding: none
    outline: none
    border: none
    cursor: pointer

    &.li
      top: -2px
      width: 22px
      height: 22px
      background: url('./assets/logo_linkedin.svg')
      background-size: cover

    &.ig
      width: 26px
      height: 26px
      background: url('./assets/logo_instagram.svg')
      background-size: cover
