@import "constants"

loaderSize = 12px

#gallery-tile-view
	position: relative
	width: containerWidthPct
	max-width: containerWidthPx
	margin: padding2x auto

	& .column
		display: inline-block
		vertical-align: top

.gallery-tile
	position: relative
	width: 100%
	margin-bottom: padding2x
	opacity: 1.0
	transition: 0.1s linear opacity

	&:hover
		cursor: pointer
		opacity: 0.9

		@media screen and (max-width: mediaScreenMaxWidth1)
			cursor: initial
			opacity: 1.0

	& img
		width: 100%
		vertical-align: middle;

@keyframes pulse
	0% { transform: scale(0); }
	85% { opacity: 1; }
	100% { transform: scale(1); filter: blur(2px); opacity: 0; }
