@import "constants"

.details-btn
	position: absolute
	bottom: 7px
	left: 50%
	transform: translateX(-50%)
	height: 30px
	padding: 0 padding2x
	border: none
	border-radius: 30px
	background-color: colorWhite !important
	opacity: 0.5
	outline: none
	cursor: pointer
	transition: 0.1s linear opacity

	& img
		height: 100%

	&:hover
		opacity: 0.8

.details-popup
	width: 160px
	padding: padding2x padding4x
	border-radius: 6px
	background-color: colorWhite
	opacity: 0.0
	visibility: hidden
	transition: 0.15s linear all
	transform: translateY(-20px)
	font-family: fontFamilyCormorant

	&.show
		opacity: 0.9
		visibility: visible
		transform: translateY(-45px)

	& h4
		margin: 0 0 16px 0
		letter-spacing: 1

.details-close-btn
	position: absolute
	top: 8px
	right: 8px
	padding: 0
	background: transparent
	outline: none
	border: none
	cursor: pointer

	& img
		width: 20px
		height: 20px

.ingredient-row
	line-height: 24px

	& span
		font-size: 14px
