@import "constants"
@import "header"

#view-header
  .menu-link-container
    display: inline-block
    height: 24px
    margin-left: padding4x
    border-bottom: 2px solid transparent
    font-family: 'optima'
    text-align: center
    text-decoration: none
    letter-spacing: 1px
    color: colorWhite
    cursor: pointer
    transition: all 0.15s linear

    &:active
    &:hover
      color: colorWhite

    &:hover
      border-bottom: 2px solid colorWhite

    &.active
      color: colorPrimary

      &:hover
        border-bottom: 2px solid colorPrimary
