@import "constants"

spacingPx1 = 40px
spacingPx2 = 80px

body
  margin: 0
  background-color: colorBackground

#view-home

  .banner-container
    position: relative
    width: 100%
    height: 600px
    z-index: -1
    background-color: colorBlackDark
    border-bottom: 2px solid colorPrimary

    @media screen and (max-width: mediaScreenMaxWidth1)
      height: 420px

  .banner-preloader
    position: absolute
    top: 999999
    left: 999999

  .banner-img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    transition: opacity 0.6s linear

    &.show
      opacity: 1

  .profile-container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  .profile-pic
    width: 160px
    height: 160px
    margin: 0 auto padding4x
    background: url('./assets/profile_headshot.jpg')
    background-size: cover
    background-position: center
    border-radius: 100%

  .profile-text
    line-height: 30px
    font-family: 'optima'
    font-size: fontSizeLarge
    letter-spacing: 1px
    text-align: center
    color: colorWhite

    @media screen and (max-width: mediaScreenMaxWidth1)
      font-size: fontSizeNormal

    &:last-child
      font-size: fontSizeNormal

      @media screen and (max-width: mediaScreenMaxWidth1)
        font-size: fontSizeSmall


  .home-text-container
    width: innerMaxWidthPct
    max-width: innerMaxWidthPx1
    line-height: 36px
    margin: spacingPx2 auto
    font-family: fontFamilyCormorant
    font-size: fontSizeNormal
    letter-spacing: 1px
    color: colorBlackDark

    @media screen and (max-width: mediaScreenMaxWidth1)
      font-size: fontSizeSmall

    p
      margin: spacingPx1 0

    a
      text-decoration: none
      color: colorPrimary

      &:hover
        color: colorPrimary

  .home-gallery-container
    position: relative
    width: innerMaxWidthPct
    max-width: innerMaxWidthPx1
    margin: 0 auto
    background-color: colorBlackDark

    & img
      width: 100%

    & .home-gallery-overlay
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(colorBlackValue, colorBlackValue, colorBlackValue, 0.5)

    & button
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      padding: padding1x padding2x
      outline: none
      border: none
      border-radius: defaultBorderRadius
      background-color: colorPrimary
      color: colorWhite
      font-family: fontFamilyCormorant
      font-size: fontSizeNormal
      letter-spacing: 1px
      cursor: pointer

      &:hover
        -webkit-filter: brightness(110%)

      @media screen and (max-width: mediaScreenMaxWidth1)
        font-size: fontSizeSmall
