doctype html
html(lang="en")

	head
		title AaronHsushi
		meta(charset="utf-8")
		link(rel='stylesheet', href='out.css')
		script(src="https://unpkg.com/react@15/dist/react.min.js")
		script(src="https://unpkg.com/react-dom@15/dist/react-dom.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js")
		script(type="text/babel", src="jsx/something.jsx")
		
	body
		h1 Hello
		div#root