doctype html
html(lang="en")

	head
		title AaronHsushi
		meta(charset="utf-8")
		link(rel='stylesheet', href='out.css')
		link(href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet")
		script(src="https://unpkg.com/react@15/dist/react.min.js")
		script(src="https://unpkg.com/react-dom@15/dist/react-dom.min.js")
		
	body
		div#header
			div#header-container
				div#header-logo
				div#header-links
		div#container
		div#root
		
		// Include main script here so all components have been rendered first
		script(src="js/main.js")