colorPrimary = colorOrange
colorAccent = #51b1f8

colorOrange = #f77e25

colorWhite = #ffffff
colorWhiteLight = #f4f4f4
colorBlackDark = #262626
colorBackground = #f2f2f2

containerWidthPx = 900px
containerWidthPct = 80%

containerMaxWidth1 = 600px
containerMaxWidth2 = 800px